body{
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

header > *{
    display: inline-block;
}


header h1{
    padding-right: 100px;
}

header nav a {
    padding:10px;
    color: #48AB6C;
    font-size: 18px;
    
}