html {
    background-color: #EEEEEE;
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
}

body {
    width: 65%;
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
}

.page{
    display: flex;
    flex-wrap: wrap;
}


.nav {
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 35px;
}

li{
    list-style-type: none;
    margin-left: 10px;
}




img {
    padding: 10px;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px, 10px, rgba(0, 0, 0, 0.25);
}


main article:nth-child(2) img {
    float: right;
    padding: 10px;
    width: 150px;
    margin-left: 15px;
}

main article:nth-child(3) img{
    float: left;
    margin-right: 15px;
}

main article:nth-child(2) p:nth-child(3){
    box-sizing: border-box;
    display: inline-block;
    width: 550px;
}


blockquote {
    float: right;
    border-left: 4px solid silver;
    padding-left: 10px;
    display: inline-block;
    width: 250px;
   
    font-family: Georgia, serif;
}

aside{
    float: right;
    margin-left: 80px;
}





.site-title {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}



h1,
h2,
h3 {
    font-family: Georgia, serif;
    font-size: 1erm;
}

hr {

    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;

}

a{
    color:rgb(0, 153, 0)
}

header{
    display: flex;
    justify-content:space-between;
}