html {
    background-color: #EEEEEE;
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
}

body {
    width: 65%;
    margin: 0 auto;
}


ul {
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 35px;
}

li{
    list-style-type: none;
    margin-left: 10px;
}




img {
    padding: 10px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 5px, 10px, rgba(0, 0, 0, 0.25);
}


main article:nth-child(2) img {
    float: right;
    padding: 10px;
    width: 150px;
    margin-left: 15px;
}

blockquote {

    border-left: 4px solid silver;
    padding-left: 10px;
    display: inline-block;
    width: 250px;
   
    font-family: Georgia, serif;
}





.site-title {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}



h1,
h2,
h3 {
    font-family: Georgia, serif;
    font-size: 1erm;
}



a{
    color:rgb(0, 153, 0)
}

header{
    display: flex;
    justify-content:space-between;
    border-bottom: 2px solid rgb(0,0,0);
}