<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/authorized.html :: header"></header>

<main>
    <hr class="my-2"/>
    <div class="text-center mt-3">
        <a href="/profile" class="h4 text-info">Welcome, $(username)</a>
    </div>
    <hr class="my-4">
    <div class="container">
        <div class="row mb-4 d-flex justify-content-around">
            <div class="col-md-2 d-flex flex-column text-center">
                <img src="png/male.png" class="img-thumbnail" width="200" height="200">
                <h5 class="text-center">Pesho</h5>
                <a href="/friends/add?name=Pesho" class="btn btn-info">Add Friend</a>
            </div>
            <div class="col-md-2 d-flex flex-column text-center">
                <img src="png/female.png" class="img-thumbnail" width="200" height="200">
                <h5 class="text-center">Tuhlichka</h5>
                <a href="/friends/add?name=Tuhlichka" class="btn btn-info">Add Friend</a>
            </div>
            <div class="col-md-2 d-flex flex-column text-center">
                <img src="png/male.png" class="img-thumbnail" width="200" height="200">
                <h5 class="text-center">Sasho</h5>
                <a href="/friends/add?name=Sasho" class="btn btn-info">Add Friend</a>
            </div>
            <div class="col-md-2 d-flex flex-column text-center">
                <img src="png/female.png" class="img-thumbnail" width="200" height="200">
                <h5 class="text-center">Keremidka</h5>
                <a href="/friends/add?name=Keremidka" class="btn btn-info">Add Friend</a>
            </div>
        </div>
        <div class="row mb-4 d-flex justify-content-around">
            <div class="col-md-2 d-flex flex-column text-center">
                <img src="png/male.png" class="img-thumbnail" width="200" height="200">
                <h5 class="text-center">Toncho</h5>
                <a href="/friends/add?name=Toncho" class="btn btn-info">Add Friend</a>
            </div>
        </div>
    </div>
    <hr class="my-3">
</main>

<footer th:insert="fragments/authorized.html::footer"></footer>

</body>
</html>