<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/unauthorized.html::header"></header>

<main class="mt-3">
    <hr class="my-2"/>
    <h1 class="text-center">Register</h1>
    <hr class="hr-2"/>
    <form class="mx-auto w-15" method="post" th:action="@{/register}" th:object="${userRegisterDto}">
        <div class="form-group">
            <div class="label-holder d-flex justify-content-center">
                <label for="username" class="h3 mb-2">Username</label>
            </div>
            <input type="text" class="form-control" id="username" name="username" th:field="*{username}">
        </div>
        <div class="form-group">
            <div class="label-holder d-flex justify-content-center">
                <label for="password" class="h3 mb-2">Password</label>
            </div>
            <input type="password" class="form-control" id="password" name="password" th:field="*{password}">
        </div>
        <div class="form-group">
            <div class="label-holder d-flex justify-content-center">
                <label for="gender" class="h3 mb-2">Gender</label>
            </div>
            <select type="text" class="form-control" id="gender" name="gender" th:field="*{gender}">
                <option th:each="gender : ${T(bg.example.exampreparation.models.entities.Gender).values()}"
                        th:value="${gender}" th:text="${T(bg.example.exampreparation.models.entities.Gender).valueOf(gender)}"></option>

            </select>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-info text-white">Register</button>
        </div>
    </form>
    <hr class="my-3">
</main>

<footer th:insert="fragments/unauthorized.html::footer"></footer>
</body>
</html>