<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class=" container-fluid text bg-light ">
    <h1 class="d-flex justify-content-center">Welcome to Chushka Application</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-6 text-center">
                <h3 class="text-center">Check the products below!</h3>
                    {{replace}}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-6 text-center">
                <a class="btn btn-primary" href="/create">Create Product</a>
            </div>
        </div>
    </div>

</div>

</body>
</html>