/* .gallery ul li img{
border: 0.4rem solid black;
padding: 5px;
} */

ul {
    width: 100%;
    margin: auto;
}


ul li {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    margin:0px 30px 0px 30px;
    
}

ul li:nth-child(3n+3) img{
    width: 322.8px;
    height: 472.8px;
}


img {
    border: 0.4rem solid black;
    padding: 5px;
    

}



