html{
    background-color: wheat;
}

body{
    display: flex;
}

ul{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}



li{
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    border: 4px solid black;
    background-color: white;
}

.gallery{
    display: flex;
}

