<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head/head.html">

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark" th:include="fragments/nav/nav-authorized">

    </nav>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Items</span></h1>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark"
                                       th:text="|Total count of the items: ${count}|"></span></h1>
    <hr class="hr-3"/>
    <div class="container-fluid">
        <div class="offers row mx-auto d-flex flex-row justify-content-center">
            <div  th:each="item:${items}" class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
                <a  th:href="${item.id}">
                    <div class="card-img-top-wrapper">
                        <img class="card-img-top" src="/img/MALE-SHORTS.jpg" alt="image">
                    </div>
                    <div class="card-body pb-1">
                        <h5  th:text="${item.name}" class="card-title text-center">Item name</h5>
                    </div>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-text text-center"><span th:text="${item.price}">Item price</span></div>
                        </li>
                    </ul>
                </a>
            </div>

        </div>
    </div>
</main>
<footer class="footer bg-dark  py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h5 text-white">
            Andrey's & Spring Team 2020.
        </div>
    </div>
</footer>
</body>
</html>
